<ion-header>
  <ion-toolbar>
    <ion-title>Buscar Producto</ion-title>
    <ion-buttons slot="end">
      <button class="close-btn" (click)="closeModal()"><ion-icon name="close-circle" ></ion-icon></button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-searchbar placeholder="Buscar producto..." debounce="500" (ionInput)="filterItems($event)"></ion-searchbar>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center margin-top-2" *ngIf="loading">
      <ion-col size="auto">
        <ion-spinner name="crescent" color="primary" ></ion-spinner>
      </ion-col>
    </ion-row>
  

    <ion-row *ngIf="!loading && products.length > 0" class="ion-justify-content-center">
      <ion-col size="11" *ngFor="let item of products" >
            <product-card (click)="sendData(item)"  class="slide-in-right"  [product]="item" (selectProduct)="selectProduct($event)"></product-card>
      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>