<ion-header>
  <ion-toolbar>
    <ion-title>Buscar Producto</ion-title>
    <ion-buttons slot="end">
      <button class="close-btn" (click)="closeModal()"><ion-icon name="close-circle" ></ion-icon></button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="step == 'productos'">
    <ion-row>
      <ion-col>
        <ion-searchbar class="search" placeholder="Buscar producto..." debounce="800" (ionInput)="filterItems($event)"></ion-searchbar>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center margin-top-2" *ngIf="loading">
      <ion-col size="auto">
        <ion-spinner name="crescent" color="primary" ></ion-spinner>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center margin-top-2" *ngIf="mensaje != '' && !loading">
      <ion-col size="auto">
        <ion-label  color="tertiary" class="ion-text-center text-bold d-block" >{{mensaje}}</ion-label>
      </ion-col>


      <ion-col size="10">
        <div class="card-nav" (click)="navigate('/inicio/inventario')">
          <p class="card-title">Ir a Inventario</p>
          <p class="small-desc">
            Si no encuentras tu producto verifica todo tu inventario o registra un nuevo producto!.
          </p>
          <div class="go-corner">
            <div class="go-arrow">
              <ion-icon size="large" name="arrow-forward-circle-outline"></ion-icon>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  

    <ion-row *ngIf="!loading && products.length > 0" class="ion-justify-content-center">
      <ion-col size="11" *ngFor="let item of products" >
            <product-card (click)="nextStep(item)" [hideCantidad]="true" class="slide-in-right"  [product]="item" (selectProduct)="selectProduct($event)"></product-card>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-grid *ngIf="step == 'cantidad'"> 
    <ion-popover  #popover [isOpen]="isOpenPop" (didDismiss)="isOpenPop = false" side="top" alignment="center">
      <ng-template>
        <ion-content class="ion-padding text-center text-primary">
          No queda más de este producto en el inventario.
        </ion-content>
      </ng-template>
    </ion-popover>
    <ion-row>
      <ion-col class="ion-padding padding-bottom-0">
        <ion-row class="ion-justify-content-space-center  margin-top-1">
            <ion-col><ion-label color="primary" class="text-large text-bold text-center d-block">{{selectedProduct.descripcion}}</ion-label></ion-col>
        </ion-row>      
      </ion-col>
      <ion-col size="12" class="ion-padding"  *ngIf="selectedProduct.unidad_medida == 'kg'">
        <ion-segment value="first" [scrollable]="true">
          <ion-segment-button [value]="'first'+selectedProduct.id" [contentId]="'first'+selectedProduct.id">
            <ion-label>Peso</ion-label>
          </ion-segment-button>
          <ion-segment-button [value]="'second'+selectedProduct.id" [contentId]="'second'+selectedProduct.id">
            <ion-label>Precio</ion-label>
          </ion-segment-button>
        </ion-segment>
        <ion-segment-view>
          <ion-segment-content [id]="'first'+selectedProduct.id">
            <ion-label color="primary" class="text-medium text-bold d-block text-center margin-top-1">Disponible: {{selectedProduct.stock}} {{selectedProduct.unidad_medida}}</ion-label>
            <div class="quantity-kg margin-top-1">                            
              <ion-label class="text-bold text-primary">Kg</ion-label>
              <ion-input type="number" class="outline"  color="primary" (input)="calcularCantidad($event, selectedProduct)"  [placeholder]="selectedProduct.cantidad" min="0.1" [max]="selectedProduct.stock" [placeholder]="selectedProduct.cantidad" [value]="selectedProduct.cantidad"></ion-input>
            </div>

            <div class="pricing">
              Precio Bs: {{calcularTotal().toFixed(2)}} <br>
              Precio USD: {{calcularTotalUsd().toFixed(2)}}
            </div>
          </ion-segment-content>

          <ion-segment-content [id]="'second'+selectedProduct.id">
            <ion-label color="primary" class="text-medium text-bold d-block text-center margin-top-1">Disponible: {{selectedProduct.stock}} {{selectedProduct.unidad_medida}}</ion-label>
            <div class="quantity-kg margin-top-1">                            
              <ion-label class="text-bold text-primary">Bs</ion-label>
              <ion-input type="number" (input)="calcularPrecio($event, selectedProduct)" [placeholder]="calcularTotal().toFixed(2)" min="1" [value]="calcularTotal().toFixed(2)"></ion-input>
            </div>

            <div class="pricing">
              Cantidad: {{selectedProduct.cantidad}} Kg
            </div>
          </ion-segment-content>
        </ion-segment-view>
        
      </ion-col>

      <ion-col size="12" class="ion-padding"  *ngIf="selectedProduct.unidad_medida == 'unidades'">
        <div class="quantity-badge">              
          <div class="row-cantidad">
              <ion-label color="primary" class="text-medium text-bold d-block text-center margin-bottom-1">Cantidad a vender:</ion-label>
              <div class="counter">
                
                <form action="" [formGroup]="formProducto" class="width-auto">
                  <ion-input type="number" formControlName="cantidad" [placeholder]="selectedProduct.cantidad" class="text-bold input-cantidad text-cantidad text-primary" min="0" (input)="setCantidad($event)"  [value]="selectedProduct.cantidad"></ion-input>
                </form>
                <div class="icons">
                  <ion-icon class="btn-cantidad" name="add-circle-outline" (click)="add(selectedProduct, $event)"></ion-icon>
                  <ion-icon class="btn-cantidad" name="remove-circle-outline" (click)="remove(selectedProduct)"></ion-icon>
                </div>
              </div>
              <ion-label color="primary" class="text-medium text-bold d-block text-center margin-top-1">Disponible: {{selectedProduct.stock}} {{selectedProduct.unidad_medida}}</ion-label>
          </div>         
          
        </div>
      </ion-col>  
    </ion-row>

    <ion-row *ngIf="!loading && selectedProduct != null" class="ion-justify-content-center">
      <ion-col>
        <button (click)="prevStep()"  [disabled]="selectedProduct.cantidad == 0" color="tertiary" class="button-more-sm">Regresar</button>
      </ion-col>

      <ion-col>
        <button (click)="sendData(selectedProduct)"  [disabled]="selectedProduct.cantidad == 0" color="tertiary" class="button-more-sm">Continuar</button>
      </ion-col>
    </ion-row>
    <div class="wave wave-1"></div>
  </ion-grid>

  <ion-toast color="tertiary" cssClass="toast" [isOpen]="isToastOpen"  (didDismiss)="setOpen()" [message]="mensajeToast" [duration]="2500"></ion-toast>
</ion-content>