
<ion-refresher slot="fixed" (ionRefresh)="getVentas($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>

<ion-grid class="margin-top-1">
  <ion-row class="ion-justify-content-start margin-bottom-2">
    <ion-col size="auto">
      <ion-label class="text-primary text-left text-large text-bold" >Ventas Recientes</ion-label>
    </ion-col>
  </ion-row>


  <ion-row class="ion-align-items-center">
    <ion-col size="12" class=""> 
      <ion-card *ngIf="ventasData.length == 0"class="card-venta slide-in-left">
        <ion-card-header>
          <ion-card-title class="text-center text-primary text-small ">No has registrado ventas aún. ¡Comienza a registrar tus ventas para verlas aquí!</ion-card-title> 
        </ion-card-header>
      </ion-card>


      <card-venta *ngFor="let venta of ventasData" [venta]="venta"></card-venta>

      <!--ion-card  class="card-venta slide-in-left">
        <ion-card-header>
          <ion-card-title class="text-left text-primary text-small">ID: {{venta.uuid}} 

            <ion-chip *ngIf="venta.mora == 'No'" [color]="venta.estado == 'Pagado' ? 'primary' : 'warning'" class="margin-left-1">{{venta.estado}}</ion-chip>

            <ion-chip *ngIf="venta.mora == 'Si'" color="warning" class="margin-left-1">Pendiente</ion-chip>
          
          </ion-card-title> 
        </ion-card-header>
        <ion-card-content>
          <ion-row class="ion-justify-content-space-between">
              <ion-col size-sm="6" size-xs="12">
                <ion-label class="text-small text-left w-100">Cliente: <span class=" text-primary">{{venta.nombre_cliente ? venta.nombre_cliente : "N/A"}}</span></ion-label>
              </ion-col>
              <ion-col size-sm="6" size-xs="12">
                <ion-label class="text-small text-right w-100">Fecha: <span class=" text-primary">{{venta.fecha_creacion | date: 'dd-MM-yyyy'}}</span></ion-label>
              </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-space-between">
            <ion-col sizeSm="6" sizeXs="12">
              <ion-label class="text-small text-left w-100">Contacto: <span class=" text-primary">{{venta.contacto_cliente ? venta.contacto_cliente : "N/A"}}</span></ion-label>
            </ion-col>
            <ion-col size-sm="6" size-xs="12">
              <ion-label class="text-small text-right w-100">Hora: <span class=" text-primary">{{venta.fecha_creacion | date: 'HH:mm'}}</span></ion-label>
            </ion-col>
        </ion-row>

          <ion-row class="ion-justify-content-space-between">
            <ion-col size-sm="6" size-xs="12">
              <ion-label class="text-small text-right">Cantidad Items: <span class=" text-primary">{{venta.lines}}</span></ion-label>
            </ion-col>
            <ion-col size-sm="6" size-xs="12">
              <ion-label class="text-small text-left">Total Bs: <span class=" text-primary">{{venta.total}}</span></ion-label>
            </ion-col>
          </ion-row>  
          
          
        </ion-card-content>
      </ion-card-->
    </ion-col>

  </ion-row>

  <ion-row class="ion-justify-content-center margin-top-2 slide-in-right">
    <ion-col size="10">
      <div class="card-nav-sm" (click)="navigate('/ventas-lista')">
        <p class="card-title">Ver más ventas</p>
        <div class="go-corner">
          <div class="go-arrow">
            <ion-icon size="large" name="arrow-forward-circle-outline"></ion-icon>
          </div>
        </div>
      </div>
    </ion-col>

  </ion-row>
  <!--ion-row class="ion-justify-content-center margin-top-2">
    <ion-col size="auto">
      <div class="paginator-container">
        <button class="button-app margin-right-1">«</button>
        <span class="paginator-page text-primary">Página 1 de 5</span>
        <button class="button-app margin-left-1">»</button>
      </div>
    </ion-col>
  </ion-row-->
</ion-grid>