.card-venta{
    transition: 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border-radius: 10px;
}

.chip-mora{
    --background: #cc15ccc7;
    --color: var(--ion-color-light);

}

.more{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    color: var(--ion-color-primary);
    font-weight: 600;
    font-size: 18px;
}
.text-no-data{
    font-size: 16px;
    font-weight: 500;
    text-align: center!important;
    width: 100%;
    display: inline-block;
}