.card-venta{
    border-bottom: 4px solid var(--ion-color-primary-shade);
    border-right: 1px solid var(--ion-color-primary-shade);
    transition: 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border-radius: 10px;
}

.chip-mora{
    --background: #cc15ccc7;
    --color: var(--ion-color-light);

}

