
<ion-row class="ion-justify-content-space-around ion-align-items-center">
  <ion-col size="12">
    <ion-searchbar (input)="filterItems($event)" debounce="700" class="ion-text-left" show-clear-button="always" clear-icon="trash-bin" placeholder="Buscar producto"></ion-searchbar>
  </ion-col>
</ion-row>


<ion-row class="ion-justify-content-center margin-top-2" *ngIf="loading">
  <ion-col size="auto">
    <ion-spinner name="crescent" color="primary" ></ion-spinner>
  </ion-col>
</ion-row>

<ion-row class="ion-justify-content-center margin-top-3" *ngIf="mensaje != ''">
  <ion-col size="auto">
    <ion-label  color="tertiary" class="ion-text-center text-bold d-block" >{{mensaje}}</ion-label>
  </ion-col>
</ion-row>

<ion-row class="ion-justify-content-space-around">

  <ion-col *ngFor="let producto of productos" size="8">
    <product-card [id]="producto.uuid" [product]="producto" [hideCantidad]="true"></product-card>
    <ion-popover size="cover" [trigger]="producto.uuid"  side="right" alignment="top" triggerAction="click">
      <ng-template>
        <ion-content class="">
          <ion-grid>
            <ion-row (click)="openModal(producto)">
              <ion-col class="edit-pop">
                <ion-icon name="bag-add"></ion-icon>
                <ion-label>Recargar Stock</ion-label>
              </ion-col>
            </ion-row>
            <ion-row (click)="openModal(producto)">
              <ion-col class="edit-pop">
                <ion-icon name="pencil"></ion-icon>
                <ion-label>Editar</ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-col>
</ion-row>