<ion-card [class]="hover ? 'card-product' : 'card-product-no-hover'" >
  <div class="wave-right xs-hide" *ngIf="wave"></div>

  <ion-row class="ion-justify-content-space-around ion-align-items-center">
    <ion-col *ngIf="!noImg" size="10">
      <div class="img-container">

          <img class="product-img" alt="Silhouette of mountains" src="assets/images/producto.png" />

      </div>
      
    </ion-col>

    <ion-col size="10">
      <ion-row class="ion-justify-content-center">
        <ion-col size="12">
          <p class="product-name text-center">{{ product.descripcion }}</p>
        </ion-col>
      </ion-row>
      
      <ion-row class="ion-justify-content-space-around" *ngIf="!hidePrice">
        <ion-col size="auto">
          <ion-chip color="primary">Bs. {{product.precio_bs}}</ion-chip>
        </ion-col>
        <ion-col size="auto">
          <ion-chip color="primary">$ {{product.precio_usd}}</ion-chip>
        </ion-col>
      </ion-row>
      
      <p class="product-name" *ngIf="showDisponible">Disponible: {{product.disponible}}</p>
    </ion-col>
  </ion-row>
  
</ion-card>