.card-product{
    position: relative!important;
}
.card-product-no-hover{
    position: relative!important;
}
.img-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.product-img{
    height: 150px;
    width: auto;
    object-fit: cover;
}
.product-name{
    font-weight: 600;
    color: var(--ion-color-primary);
    font-size: 16px;
    margin: 0px;
}

.card-product:hover{
    background-color: var(--ion-color-primary);
    color: var(--ion-color-light)!important;

    .product-name{
        color: var(--ion-color-light)!important;
    }
    transition: all .6s ease-in-out;
}
