.card-product{
    position: relative!important;
}
.card-product-no-hover{
    position: relative!important;
}
.product-img{
    height: 100%;
}
.product-name{
    font-weight: 600;
    color: var(--ion-color-primary);
    font-size: 16px;
    text-align: left;
}

.card-product:hover{
    background-color: var(--ion-color-primary);
    color: var(--ion-color-light)!important;

    .product-name{
        color: var(--ion-color-light)!important;
    }
    transition: all .6s ease-in-out;
}
