.filter-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    ion-label{
        font-weight: 600;
        text-align: center;
        background-color: var(--ion-color-light);
        padding: 8px 20px;
        border: 1px solid var(--ion-color-primary);
        border-radius: 5px;
        transition: all 0.5s ease;
    }
    ion-label:hover{
        text-align: center;
        background-color: var(--ion-color-primary);
        border: 1px solid var(--ion-color-light);
        color: var(--ion-color-light);
        border-radius: 5px;
    }

    p{
        font-weight: 800;
        color: var(--ion-color-primary);
        font-size: 16px;
        text-align: center;
    }
}

.search{
    --border-radius: 10px;
}