// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
:root {
	--ion-color-primary: #039D45;
	--ion-color-primary-rgb: 43,191,46;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #26a828;
	--ion-color-primary-tint: #40c543;

	--ion-color-secondary: #0050d1;
	--ion-color-secondary-rgb: 0,80,209;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #0046b8;
	--ion-color-secondary-tint: #1a62d6;

	--ion-color-tertiary: #1dc9ac;
	--ion-color-tertiary-rgb: 29,201,172;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #1ab197;
	--ion-color-tertiary-tint: #34ceb4;

	--ion-color-success: #2dd55b;
	--ion-color-success-rgb: 45,213,91;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #28bb50;
	--ion-color-success-tint: #42d96b;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #ff5900;
	--ion-color-danger-rgb: 255,89,0;
	--ion-color-danger-contrast: #000000;
	--ion-color-danger-contrast-rgb: 0,0,0;
	--ion-color-danger-shade: #e04e00;
	--ion-color-danger-tint: #ff6a1a;

	--ion-color-light: #f6f8fc;
	--ion-color-light-rgb: 246,248,252;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d8dade;
	--ion-color-light-tint: #f7f9fc;

	--ion-color-medium: #00ad4b;
	--ion-color-medium-rgb: 0,173,75;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #009842;
	--ion-color-medium-tint: #1ab55d;

	--ion-color-dark: #006b07;
	--ion-color-dark-rgb: 0,107,7;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #005e06;
	--ion-color-dark-tint: #1a7a20;
}
$breakpoint-xs: 380px !default; // Extra small
$breakpoint-sm: 576px !default; // Small
$breakpoint-md: 768px !default; // Medium
$breakpoint-lg: 992px !default; // Large
$breakpoint-xl: 1200px !default;