<ion-content [fullscreen]="true" >
  <div class="login-background">
    <ion-grid class="padding-top-6">
      <ion-row>
          <ion-col>
            <ion-card class="form-card">
              <div class="wave-inv">

              </div>
              <ion-card-header>
                <ion-card-title class="text-center font-title margin-top-3">Inicio de sesión</ion-card-title>
              </ion-card-header>
              <ion-card-content>

                <form [formGroup]="profileForm">
                  <div class="input-container">
                    <ion-icon name="person" color="primary"></ion-icon>


                    <app-input label="Usuario" type="text" [controlName]="profileForm.controls['user']"></app-input>
                  </div>
  
                  <div class="input-container">
                    <ion-icon name="lock-closed" color="primary"></ion-icon>

                    <app-input label="Contraseña" type="password" [controlName]="profileForm.controls['password']"></app-input>
                  </div>

                  <ion-label class="ion-text-center margin-top-1" color="danger" *ngIf="error != ''">{{error}}</ion-label>

                  
                  <button expand="full" class="button-app full-width margin-top-1 margin-bottom-3" [disabled]="profileForm.status == 'INVALID' || loading" (click)="logIn()">
                    <span *ngIf="!loading">Ingresar</span>
                    <ion-spinner color="light" size="small" name="circles" *ngIf="loading"></ion-spinner>
                  </button>                  
                </form>
                
              </ion-card-content>

              <div class="wave wave-1">
                
              </div>
            </ion-card>
          </ion-col>
      </ion-row>

      <ion-row class="margin-top-1">
        <ion-col>
          <ion-card class="form-card">
            <ion-card-content class="ion-text-center">
              <ion-label>No tienes una cuenta?. <a href="/recover">Registrate</a></ion-label> <br>
              <ion-label>Olvidaste tu contraseña?. <a href="/recover">Ingresa Aqui</a></ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
    </ion-row>
    </ion-grid>
  </div>
</ion-content>
