.row-total{
    //border-top: solid 2px var(--ion-color-tertiary);
    justify-content: end;
    align-items: center;
    text-align: right;
}

.quantity-badge{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    @media (max-width: 575px) {
        margin-bottom: 1rem;
        flex-direction: row-reverse!important;;
        gap: 0px;
    }
    ion-icon{
        font-size: 1.5rem;
    }
}
.item-product{
    border-radius: 4px;
    border-top: solid 3px var(--ion-color-tertiary);
    border-bottom: solid 3px var(--ion-color-tertiary);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
  }