.row-total{
    //border-top: solid 2px var(--ion-color-tertiary);
    justify-content: end;
    align-items: center;
    text-align: right;
}


.item-product{
    border-radius: 4px;
    border-top: solid 3px var(--ion-color-tertiary);
    //border-bottom: solid 3px var(--ion-color-tertiary);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
  }

.icon-trash{
    padding-top: .5rem;
    font-size: 1.1rem!important;
}