<ion-menu class="menu" contentId="main-content"> 
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>

      <ion-icon name="close-circle" (click)="closeMenu()" class="icon-close" slot="end" color="tertiary"></ion-icon>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <div class="menu-content ion-padding">
      <ion-grid>
        <ion-row (click)="goTo('inicio/home')">
          <ion-col>
            <ion-icon name="home"></ion-icon>
            <ion-label>Inicio</ion-label>
          </ion-col>
        </ion-row>

        <ion-row (click)="goTo('contabilidad')">
          <ion-col>
            <ion-icon name="newspaper"></ion-icon>
            <ion-label>Contabilidad</ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-icon name="help-circle"></ion-icon>
            <ion-label>Ayuda</ion-label>
          </ion-col>
        </ion-row>

        <ion-row (click)="logout()">
          <ion-col>
            <ion-icon name="log-out"></ion-icon>
            <ion-label>Cerrar sesión</ion-label>
          </ion-col>
        </ion-row>


      </ion-grid>
    </div>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header class="header-app">
    <ion-toolbar class="header-app" slot="header" >
      <ion-buttons slot="start">
        <ion-menu-button color="primary"></ion-menu-button>
        <ion-label color="primary" class="text-bold-6 margin-left-1 text-large">{{user}}</ion-label>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</div>