.menu-icon-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30px;
    height: 100%;
    font-size: 20px!important;
    background-color: var(--ion-color-tertiary);
    padding:.5rem;
    border-radius: 1rem;
}

.menu-icon-container:hover{
    background-color: var(--ion-color-primary);
    padding:.5rem;
    border-radius: 1rem;
    animation: ease-in-out 0.5s;
}


.menu-content{
    padding: 1rem 1rem 1rem 0;
    width: 100%;
    ion-row{
        padding: .5rem;
        margin-top: .5rem;
        margin-bottom: .5rem;
        ion-col{
            color: var(--ion-color-tertiary);
            align-items: center;
            display: flex;
            ion-icon{
                font-size: 1.2rem;
                margin-right: 1rem;
            }
            ion-label{
                font-size: 1.2rem;
            }
        }
    }

    ion-row:hover{
        border-radius: 10px;
        color: #fff!important;
        padding: .5rem;
        background-color: var(--ion-color-tertiary);
        ion-col{
            ion-icon{
                font-size: 1.2rem;
                margin-right: 1rem;
                color: #fff!important;
            }
            ion-label{
                font-size: 1.2rem;
                color: #fff!important;
            }
        }
    }
}
.header-app{
    border-radius: 0px 0px 20px 20px;

}
.icon-close{
    font-size: 1.5rem;
    margin: 1rem;
}