/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "theme/spacing.scss";
@import "theme/texts.scss";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
.full-width{
    width: 100%!important;
}

.d-block{
  display: block!important;
}
.xs-hide{
    @media (max-width: 300px) {
        display: none!important;
    }
}

.sm-hide{
  @media (max-width: 400px) {
      display: none!important;
  }
}
.ion-justify-content-space-around{
  justify-content: space-around!important;
}

.login-background {
  background-image: url('/assets/images/fondo_tienda2.png'); /* Ruta de tu imagen */
  background-size: cover; /* Asegura que la imagen cubra todo el contenido */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  height: 100vh; /* Asegura que el fondo cubra toda la altura de la ventana */
  width: 100vw; /* Asegura que el fondo cubra todo el ancho de la ventana */
}

.form-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  border-radius: 30px;
  background: rgba(246, 248, 252, .99);
  .input-container{

    width: 100%!important;
    margin-bottom: 1rem!important;
    display: flex;
    align-items: center;
    justify-content: space-around;

    ion-input{ 
      width: 100%!important;
      margin-top: 1rem!important;
    }

    ion-icon{
      font-size: 30px;
      margin-right: 1rem;
    }
  }

}
 
.custom-input{
  --border-color: var(--ion-color-primary)!important;
}

.button-add{
    display: flex;
    justify-content: space-around;
    --color: var(--ion-color-tertiary);      
    font-family: inherit;
    padding: .8rem;
    background-color: var(--ion-color-primary);
    overflow: hidden;
    cursor: pointer;
    font-size: 17px;
    width: 100%;
    color: var(--ion-color-light);
    border: 2px solid var(--color);
    border-radius: 6px;
    align-items: center;
   
}

.button-app {
    --color: var(--ion-color-primary);      
    font-family: inherit;
    padding: .5rem;
    background-color: var(--ion-color-tertiary);
    overflow: hidden;
    cursor: pointer;
    font-size: 17px;
    z-index: 1;
    color: var(--ion-color-light);
    border: 2px solid var(--color);
    border-radius: 6px;
    position: relative;
  }
  
button.button-app::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 100%!important;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}
  
button.button-app:hover {
  color: white;
}
  
button.button-app:before {
  top: 100%;
  left: 100%;
  transition: 0.3s all;
}
  
button.button-app:hover::before {
  top: -30px;
  left: -30px;
}

.button-more{
  padding: 1rem;
  width: 100%;
  background-color: var(--ion-color-tertiary);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border-radius: 10px;
  ion-icon{
      font-size: 1.5rem;
      font-weight: 900;
      color: var(--ion-color-light);
  }
}

.button-more:hover{
    background-color: var(--ion-color-primary)!important;
}
  
.close-btn{
  background-color: var(--ion-color-light);
  color: var(--ion-color-light);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  ion-icon{
    color: var(--ion-color-primary);
    font-size: 20px;
  }
}

.chart-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.chart-title{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 2.5rem;
    color: var(--ion-color-primary);
}


.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}


.slide-in-left {
  animation: slideInLeft 0.5s ease-in-out forwards;
}

@keyframes slideInLeft {
  from {
    transform: translateX(100%); /* Comienza fuera de la pantalla a la derecha */
    opacity: 0; /* Comienza invisible */
  }
  to {
    transform: translateX(0); /* Termina en su posición original */
    opacity: 1; /* Termina visible */
  }
}

.slide-in-right {
  animation: slideInRight 0.5s ease-in-out forwards;
}

@keyframes slideInRight {
  from {
    transform: translateX(-100%); /* Comienza fuera de la pantalla a la izquierda */
    opacity: 0; /* Comienza invisible */
  }
  to {
    transform: translateX(0); /* Termina en su posición original */
    opacity: 1; /* Termina visible */
  }
}


.my-custom-modal {
  --width: 90%; // Ancho del modal
  --height: 500px; // Alto del modal
  overflow: scroll;
}

.wave-1{
  height: 10%!important;
}
.wave-2{
  height: 20%;
}
.wave-3{
  height: 30%;
}
.wave-4{
  height: 40%;
}
.wave-5{
  height: 50%;
}
.wave-6{
  height: 60%;
}
.wave-7{
  height: 70%;
}
.wave-8{
  height: 80%;
}
.wave-9{
  height: 90%;
}
.wave-10{
  height: 100%;
}

.wave{
  position: absolute;
  width: 100%;
  background: url("/assets/images/wave.svg");
  background-size: 200% 100%;
  bottom: 0%;
  left: 0%;
  animation: wave 4s linear infinite;
  transition: .5s;
  z-index: 1;
}


.wave-inv{
  position: absolute;
  width: 100%;
  background: url("/assets/images/wave.svg");
  background-size: 200% 100%;
  top: 0%;
  left: 0%;
  height: 50px;
  animation: wave 4s linear infinite;
  transition: .5s;
  z-index: 1!important;
  transform: rotate(180deg);
}

.wave-right{
  position: absolute;
  width: 100%; /* Mantener el ancho completo */
  background: url(/assets/images/wave.svg);
  background-size: 200% 100%;
  top: 0; /* Mantener en la parte superior */
  right: -52%; /* Ajustar para que esté completamente a la derecha */
  height: 50px;
  animation: wave 4s linear infinite;
  transition: 0.5s;
  z-index: 1 !important;
  transform: rotate(270deg) translateY(-50%);
}

@keyframes wave{
  from{
      background-position-x: 0;
  }
  to{
      background-position-x: 200%;
  }
}

.swiper-button-next svg{
  fill: var(--ion-color-primary)!important;
}
.carrusel{
  color: var(--ion-color-tertiary)!important;
  fill: var(--ion-color-tertiary)!important;
  width: 100%;
  min-height: 200px;
  swiper-slide{
    height: auto;
  }
}

.swiperPrimary{
  --swiper-pagination-color: var(--ion-color-primary)!important;
  background: var(--ion-color-primary)!important;
}
.card-selection{
  margin: 0px!important;
  width: 100%;
  padding: 1rem;
  border-right: solid 4px var(--ion-color-primary); ;
}





.card-title {
  color: var(--ion-color-primary);
  font-size: 1.5em;
  line-height: normal;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.small-desc {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  color: var(--ion-color-primary);
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  top: 0;
  right: 0;
  background: linear-gradient(135deg, #6293c8, var(--ion-color-primary));
  border-radius: 0 4px 0 32px;
}

.go-corner-inverse {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 2rem!important;
  height: 2rem!important;
  overflow: hidden;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, #6293c8, var(--ion-color-primary));
  border-radius: 4px 0px 32px 0px;
  .go-arrow{
    margin-top: -4px;
    margin-left: -4px;
    color: white;
    font-family: courier, sans;
  }
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.card-nav {
  display: block;
  position: relative;
  max-width: 300px;
  max-height: 320px;
  background-color: var(--ion-color-light);
  border-radius: 10px;
  padding: 2em 1.2em;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  //background: linear-gradient(to bottom, #c3e6ec, #a7d1d9);
  font-family: Arial, Helvetica, sans-serif;
}
.card-nav-sm{
  display: block;
  position: relative;
  max-width: 300px;
  max-height: 320px;
  background-color: var(--ion-color-light);
  border-radius: 10px;
  padding: 1rem;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  //background: linear-gradient(to bottom, #c3e6ec, #a7d1d9);
  font-family: Arial, Helvetica, sans-serif;
  .card-title{
    font-size: 1rem;
    text-align: center;
    margin-top: 5px;
  }
}

.card-nav-xs{
  display: block;
  position: relative;
  max-width: 300px;
  max-height: 320px;
  background-color: var(--ion-color-light);
  border-radius: 10px;
  padding: 1rem 1.5rem;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  //background: linear-gradient(to bottom, #c3e6ec, #a7d1d9);
  font-family: Arial, Helvetica, sans-serif;
  .card-title{
    font-size: .8rem;
    text-align: center;
    margin-top: 5px;
  }
  .go-corner{
    width: 2rem!important;
    height: 2rem!important;
  }
}
.card-nav:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: linear-gradient(135deg, #364a60, var(--ion-color-primary));
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.35s ease-out;
}

.card-nav:hover:before {
  transform: scale(28);
}

.card-nav:hover .small-desc {
  transition: all 0.5s ease-out;
  color: rgba(255, 255, 255, 0.8);
}

.card-nav:hover .card-title {
  transition: all 0.5s ease-out;
  color: #ffffff;
}


.border-top{
  border-top: solid 1px var(--ion-color-tertiary);
}