.card-close-shop{
    max-width: 100%;
}


.card {
    --primary-clr: var(--ion-color-primary);
    --dot-clr: #fff;
    --play: var(--ion-color-tertiary);
    width: 100%;
    height: 140px;
    border-radius: 10px;
    position: relative;
}

.card {
    color: --primary-clr;
    display: grid;
    cursor: pointer;
    grid-template-rows: 50px 1fr;
}
   
.card:hover .img-section {
    transform: translateY(.5em);
}
   
.card-desc {
    z-index: 40;
    border-radius: 10px;
    padding: 15px;
    height: 130px;
    position: relative;
    top: 5px;
    display: grid;
    gap: 5px;
    border-color: var(--primary-clr);
    background-color: var(--ion-color-light);
    border-top: 15px solid var(--primary-clr);
}
   
.card-time {
    z-index: 10;
    font-size: 1.7em;
    font-weight: 500;
}
    
.img-section {
    height: 120px!important;
    transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 10;
}
   
.card-header {
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 10;
}
   
.card-title {
    flex: 1;
    font-size: 0.9em;
    font-weight: 500;
    z-index: 10;
}
   
.card-menu {
    display: flex;
    gap: 4px;
    margin-inline: auto;
    z-index: 10;
}
   
.card svg {
    float: right;
    max-width: 100%;
    max-height: 100%;
}
   
.card .dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--primary-clr);
    z-index: 10;
}
   
.card .recent {
    line-height: 0;
    font-size: 0.8em;
    z-index: 10;
}