<ion-row>
  <ion-col size-sm="6" size-xs="12" class="padding-0 margin-0">
    <div class="card work slide-in-left">
      
      <div class="card-desc">
      <div class="card-header">
      <div class="card-title">Fecha: </div>
      </div>
      <div class="card-time">{{date}}</div>
    </div></div>
  </ion-col>

  <ion-col size-sm="6" size-xs="12" class="padding-0 margin-0">
    <div class="card work slide-in-right">
      <div class="card-desc">
        <div class="card-header">
          <div class="card-title">Tasa BCV: </div>
        </div>
        <div class="card-time">370,67 Bs.</div>
      </div>
    </div>
  </ion-col>

  <ion-col size="12" class="padding-0 margin-0">
    <div class="card work slide-in-left">
      
      <div class="card-desc">
      <div class="card-header">
      <div class="card-title">Ingresos de la semana</div>
      <div class="card-menu">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      </div>
      </div>
      <div class="card-time">23500,51 Bs.</div>
      <div class="wave wave-2"></div>
    </div></div>
  </ion-col>


  <ion-col size="12">
    <ion-accordion-group [value]="'first'">
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>Estadisticas</ion-label>
        </ion-item>
        <div class="margin-top-3" slot="content">
              <ion-row class="ion-align-items-start">
                  <ion-col class="chart-container" size="6">
                    <cantidad-ventas title="Ingresos de Ventas" [data]="dataVentas" startColor="#039D45"></cantidad-ventas>
                  </ion-col>

                  <ion-col class="chart-container" size="6">
                    <cantidad-ventas title="Ingresos de Pedidos" [data]="dataPedidos" startColor="#0050d1"></cantidad-ventas>
                  </ion-col>

                  <ion-col class="chart-container margin-top-2" size="12">
                    <stock-items></stock-items>
                  </ion-col>
              </ion-row>
        </div>
      </ion-accordion>
      <ion-accordion value="second" [disabled]="true">
        <ion-item slot="header" color="light">
          <ion-label>Estadisticas +</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Second Content</div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-col>

</ion-row>


