.card-venta{
    position: relative; 
    width: 100%; 
    background-color:var(--ion-color-light);
    overflow: visible; 
    margin: 0px 0px 3rem 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contenido{
    padding: 1rem;
    font-weight: 600;
    color: var(--ion-color-tertiary);
    .date{
        font-size: 1rem;
        font-weight: 800;
        color: var(--ion-color-primary);
    }
}

.solapa{
    position: absolute;
    right: 0;
    top: -30px;
    height: 40px;
    padding: 0px 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    z-index: -1;
    color: var(--ion-color-light);    
    p{
        margin-top: 10px;
    }
}
.pagado{
    background-color: var(--ion-color-tertiary); 
}
.pendiente{
    background-color: var(--ion-color-warning);
}